MATRIX_SERVER=
BOT_USER_ID=
BOT_PASSWORD=
ROOM_ID=
GOOGLE_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_ANON_KEY=
SWICH_CLIENT_ID=
SWICH_SECRET_KEY=
BUSINESS_NAME=
REVIEW_CARD_ENABLED=true
PAYMENT_CARD_ENABLED=
LANGCHAIN_API_KEY=